
# Node modules folder
node_modules/




# IDE specific files
.vscode/


# Angular specific files
.angular/

# Environment files (if sensitive)
src/environments/environment.prod.ts
src/environments/environment.ts

