<div>
    <div style="padding:20px; background-color: #4454cc;color: aliceblue;">
    <strong>Employee Details</strong>
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <table >
        <div style="padding:20px;">
      <tr>
        <th>CPF No.:</th>
        <td>{{ rowData.id }}</td>
      </tr>
      <tr>
        <th>Name:</th>
        <td>{{ rowData.name }}</td>
      </tr>
      <tr>
        <th>Designation:</th>
        <td>{{ rowData.designation }}</td>
      </tr>
      <tr>
        <th>Department:</th>
        <td>{{ rowData.department }}</td>
      </tr>
      <tr>
        <th>Directorate:</th>
        <td>{{ rowData.directorate }}</td>
      </tr>
      <tr>
        <th>Discipline:</th>
        <td>{{ rowData.discipline }}</td>
      </tr>
      <tr>
        <th>Present Location:</th>
        <td>{{ rowData.presentLocation }}</td>
      </tr>
      <tr>
        <th>Grade:</th>
        <td>{{ rowData.grade }}</td>
      </tr>
      <tr>
        <th>Placement History:</th>
        <td>{{ rowData.placementHistoryYears }}</td>
      </tr>
      <tr>
        <th>Date of Birth:</th>
        <td>{{ rowData.birthDate }}</td>
      </tr>
      <tr>
        <th>Age:</th>
        <td>{{ rowData.age }}</td>
      </tr>
      <tr>
        <th>Proposed Location:</th>
        <td>{{ rowData.proposedLocation }}</td>
      </tr>
      <tr>
        <th>Transfer comment:</th>
        <td>{{ rowData.transferComment }}</td>
      </tr>
      <tr>
        <th>Employee Group:</th>
        <td>{{ rowData.employeeGroup }}</td>
      </tr>
    </div>
      <!-- <tr>
        <th>Name</th>
        <td>{{ rowData.name }}</td>
      </tr>
      <tr>
        <th>CPF No.</th>
        <td>{{ rowData.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ rowData.name }}</td>
      </tr>
      <tr>
        <th>CPF No.</th>
        <td>{{ rowData.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ rowData.name }}</td>
      </tr>
      <tr>
        <th>CPF No.</th>
        <td>{{ rowData.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ rowData.name }}</td>
      </tr> -->
      <!-- Add more details as needed -->
    </table>
  </div>
  