.form-group {
    margin-bottom: 15px;
}

.input-group {
    width: 20%;
}

.button-container {
    margin-top: 10px;
}

.text-danger {
    font-size: 12px;
}
.btn-outline-secondary{
    border-color: #E0E4E7;
}
